<h1 style='text-align: center'>Raifhack-DS-2021-Fall üëΩ</h1>

<p  style='text-align: center'>
This notebook is in <span style='color: green; font-weight: 700'>Active</span> state of development! Check out this notebook to see some updates as I update new stuff as oftern as I learn it!
<a style='font-weight:700' href='https://github.com/LilDataScientist/Raifhack-DS-2021-Fall'> Code on GitHub! </a></p>

<div style='text-align: center'>
    <img src='https://i.postimg.cc/HLF8SsJK/B041-Bank-of-the-West.jpg' width='700' />
</div>

In [1]:
import numpy as np 
import pandas as pd

# Visualization
import seaborn as sns
import matplotlib.pyplot as plt
import missingno as msno

# Models
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

# Pipelines
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer

# Helpers
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import accuracy_score, mean_squared_error, make_scorer, mean_absolute_error


sns.set_theme()

In [2]:
df_train = pd.read_csv('../input/raifhackds2021fall/data/train.csv')

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<h1 style='background-color: #dae8fc; border: 1px solid #94add0; padding: 10px; font-weight: 400; text-align:center'>Quick view</h1>

In [3]:
df_train

,city,floor,id,lat,lng,osm_amenity_points_in_0.001,osm_amenity_points_in_0.005,osm_amenity_points_in_0.0075,osm_amenity_points_in_0.01,osm_building_points_in_0.001,...,reform_mean_floor_count_1000,reform_mean_floor_count_500,reform_mean_year_building_1000,reform_mean_year_building_500,region,total_square,street,date,realty_type,price_type
0,–ü–µ—Ä–º—å,NaN,COL_0,57.998207,56.292797,4,19,35,52,0,...,5.762963,5.530612,1964.118519,1960.959184,–ü–µ—Ä–º—Å–∫–∏–π –∫—Ä–∞–π,32.000000,S27289,2020-01-05,10,0
1,–®–∞—Ç—É—Ä–∞,NaN,COL_1,55.574284,39.543835,3,24,37,59,0,...,2.894366,3.527778,1952.321678,1957.222222,–ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å,280.000000,S17052,2020-01-05,10,0
2,–Ø—Ä–æ—Å–ª–∞–≤–ª—å,NaN,COL_2,57.619140,39.850525,1,30,67,128,0,...,6.141414,7.222222,1968.150000,1973.370370,–Ø—Ä–æ—Å–ª–∞–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å,297.400000,S16913,2020-01-05,110,0
3,–ù–æ–≤–æ–∫—É–∑–Ω–µ—Ü–∫,NaN,COL_3,53.897083,87.108604,0,0,5,21,0,...,8.581081,9.000000,1992.716216,2014.000000,–ö–µ–º–µ—Ä–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å,190.000000,S10148,2020-01-05,110,0
4,–ú–æ—Å–∫–≤–∞,NaN,COL_4,55.802590,37.487110,1,23,64,153,0,...,7.263889,5.684211,1963.229167,1960.500000,–ú–æ—Å–∫–≤–∞,60.200000,S1338,2020-01-05,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279787,–¢–æ–º—Å–∫,1.0,COL_280111,56.459183,84.979334,2,33,111,222,0,...,5.714286,5.882353,1972.260870,1973.460000,–¢–æ–º—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å,358.320073,S11114,2020-08-23,10,1
279788,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,1.0,COL_280479,59.936954,30.356383,10,274,718,1340,0,...,4.719388,4.706667,1876.994898,1873.186667,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,119.637556,S28440,2020-08-23,110,1
279789,–ö–∞–ª–∏–Ω–∏–Ω–≥—Ä–∞–¥,3.0,COL_280518,54.729233,20.514968,0,12,34,84,0,...,3.950413,4.885714,1964.258333,1970.571429,–ö–∞–ª–∏–Ω–∏–Ω–≥—Ä–∞–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å,312.789725,S6671,2020-08-23,10,1
279790,–ö–µ–º–µ—Ä–æ–≤–æ,1.0,COL_280529,55.360680,86.081460,5,57,100,134,0,...,4.691489,4.125000,1957.425532,1954.625000,–ö–µ–º–µ—Ä–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å,89.201305,S17667,2020-08-23,110,1
279791,–ö–∏—Ä–æ–≤,1.0,COL_280637,58.592915,49.677439,1,23,64,113,0,...,5.069124,4.776119,1972.599078,1971.794118,–ö–∏—Ä–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å,172.855871,S5611,2020-08-23,110,1

<h1 style='background-color: #dae8fc; border: 1px solid #94add0; padding: 10px; font-weight: 400; text-align:center'>Describe data</h1>

In [4]:
df_train.describe()

,lat,lng,osm_amenity_points_in_0.001,osm_amenity_points_in_0.005,osm_amenity_points_in_0.0075,osm_amenity_points_in_0.01,osm_building_points_in_0.001,osm_building_points_in_0.005,osm_building_points_in_0.0075,osm_building_points_in_0.01,...,reform_count_of_houses_500,reform_house_population_1000,reform_house_population_500,reform_mean_floor_count_1000,reform_mean_floor_count_500,reform_mean_year_building_1000,reform_mean_year_building_500,total_square,realty_type,price_type
count,279792.000000,279792.000000,279792.000000,279792.000000,279792.000000,279792.000000,279792.000000,279792.000000,279792.000000,279792.000000,...,279792.000000,265196.000000,252558.000000,263084.000000,249624.000000,263553.000000,250155.000000,279792.000000,279792.000000,279792.000000
mean,54.364078,47.763540,2.709084,40.605146,81.596171,133.285458,0.037442,0.885701,2.046467,3.748163,...,30.110661,2042.541716,644.610557,7.051233,7.360464,1967.532599,1967.988580,507.833604,54.974088,0.016058
std,4.245713,17.044625,4.202451,53.293388,105.193169,172.290136,0.391014,6.858338,14.801566,25.679859,...,27.686234,1359.884747,445.699329,3.542084,4.231369,45.807699,54.110015,1704.251771,47.856417,0.125700
min,42.651897,19.892178,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,5.100000,10.000000,0.000000
25%,53.226600,37.582988,0.000000,7.000000,16.000000,28.000000,0.000000,0.000000,0.000000,0.000000,...,10.000000,932.000000,290.000000,4.591837,4.619959,1960.070000,1959.890097,65.900000,10.000000,0.000000
50%,55.679090,39.702435,1.000000,22.000000,46.000000,77.000000,0.000000,0.000000,0.000000,0.000000,...,25.000000,1949.000000,602.000000,6.368932,6.395349,1970.890411,1971.647059,128.737034,10.000000,0.000000
75%,56.306976,55.957523,4.000000,51.000000,101.000000,164.000000,0.000000,0.000000,1.000000,2.000000,...,43.000000,2978.000000,936.000000,8.698925,9.100000,1983.701754,1986.950000,336.000000,110.000000,0.000000
max,69.500740,151.777000,46.000000,468.000000,851.000000,1392.000000,30.000000,586.000000,949.000000,1162.000000,...,289.000000,18392.000000,6105.000000,53.717949,221.666667,2019.000000,2020.000000,40000.000000,110.000000,1.000000

<h1 style='background-color: #dae8fc; border: 1px solid #94add0; padding: 10px; font-weight: 400; text-align:center'>Missing values</h1>

In [5]:
def print_missing_values(df):
    missing_values_df = pd.DataFrame(columns=['dtype','Feature', 'Number Of Missing Values', 'Percentage of Missing values'])

    for i in df:
        if df[i].isnull().sum() != 0:
            dtype = df[i].dtype
            feature                      = i
            number_of_missing_values     = df[i].isnull().sum()
            percentage_of_missing_values = round(number_of_missing_values / len(df.index) * 100, 2)
            missing_values_df = missing_values_df.append({
                                      'dtype': dtype,
                                      'Feature': i,
                                      'Number Of Missing Values': number_of_missing_values,
                                      'Percentage of Missing values': percentage_of_missing_values
            }, ignore_index=True)

    return missing_values_df

In [6]:
print_missing_values(df_train)

,dtype,Feature,Number Of Missing Values,Percentage of Missing values
0,object,floor,176237,62.99
1,float64,osm_city_nearest_population,55,0.02
2,float64,reform_house_population_1000,14596,5.22
3,float64,reform_house_population_500,27234,9.73
4,float64,reform_mean_floor_count_1000,16708,5.97
5,float64,reform_mean_floor_count_500,30168,10.78
6,float64,reform_mean_year_building_1000,16239,5.80
7,float64,reform_mean_year_building_500,29637,10.59
8,object,street,1606,0.57

<h1 style='background-color: #dae8fc; border: 1px solid #94add0; padding: 10px; font-weight: 400; text-align:center'>Unique values</h1>

In [7]:
def print_unique_values(df):
    unique_values_df = pd.DataFrame(columns=['Feature', 'Number of values', 'Values'])

    for col in df:
        unique_values_df = unique_values_df.append({
                                      'Feature': col,
                                      'Number of values': df[col].unique().shape[0],
                                      'Values': df[col].unique()
            }, ignore_index=True)
    
    pd.set_option('display.max_rows', len(unique_values_df))
    return unique_values_df

In [8]:
print_unique_values(df_train)

,Feature,Number of values,Values
0,city,4948,"[–ü–µ—Ä–º—å, –®–∞—Ç—É—Ä–∞, –Ø—Ä–æ—Å–ª–∞–≤–ª—å, –ù–æ–≤–æ–∫—É–∑–Ω–µ—Ü–∫, –ú–æ—Å–∫–≤–∞..."
1,floor,207,"[nan, 3.0, 4.0, -1.0, 1.0, 14.0, 2.0, 8.0, -2...."
2,id,279792,"[COL_0, COL_1, COL_2, COL_3, COL_4, COL_5, COL..."
3,lat,126190,"[57.998207, 55.574284, 57.61914, 53.897083, 55..."
4,lng,131884,"[56.292797, 39.543835, 39.850525, 87.108604, 3..."
5,osm_amenity_points_in_0.001,46,"[4, 3, 1, 0, 5, 10, 2, 7, 6, 19, 9, 11, 8, 15,..."
6,osm_amenity_points_in_0.005,412,"[19, 24, 30, 0, 23, 18, 38, 92, 66, 12, 5, 10,..."
7,osm_amenity_points_in_0.0075,804,"[35, 37, 67, 5, 64, 38, 0, 117, 256, 138, 32, ..."
8,osm_amenity_points_in_0.01,1273,"[52, 59, 128, 21, 153, 50, 0, 219, 376, 249, 5..."
9,osm_building_points_in_0.001,25,"[0, 2, 3, 1, 9, 6, 5, 10, 16, 4, 13, 7, 14, 11..."
10,osm_building_points_in_0.005,195,"[0, 1, 4, 20, 8, 2, 7, 12, 27, 3, 5, 6, 11, 10..."
11,osm_building_points_in_0.0075,336,"[0, 1, 13, 2, 29, 14, 4, 10, 6, 8, 17, 15, 57,..."
12,osm_building_points_in_0.01,469,"[0, 1, 26, 4, 37, 3, 23, 2, 21, 13, 8, 11, 7, ..."
13,osm_catering_points_in_0.001,24,"[0, 1, 2, 4, 5, 3, 6, 10, 12, 8, 7, 9, 11, 17,..."
14,osm_catering_points_in_0.005,165,"[2, 3, 0, 8, 5, 40, 10, 1, 13, 4, 9, 6, 12, 57..."
15,osm_catering_points_in_0.0075,309,"[4, 2, 6, 1, 14, 3, 0, 11, 95, 22, 23, 33, 41,..."
16,osm_catering_points_in_0.01,498,"[6, 11, 4, 26, 0, 30, 125, 41, 5, 1, 3, 28, 23..."
17,osm_city_closest_dist,143190,"[3.2934698121252324, 43.95098860597414, 2.6762..."
18,osm_city_nearest_name,170,"[–ü–µ—Ä–º—å, –û—Ä–µ—Ö–æ–≤–æ-–ó—É–µ–≤–æ, –Ø—Ä–æ—Å–ª–∞–≤–ª—å, –ù–æ–≤–æ–∫—É–∑–Ω–µ—Ü–∫,..."
19,osm_city_nearest_population,170,"[1055397.0, 120184.0, 603961.0, 552105.0, 2320..."
20,osm_crossing_closest_dist,143191,"[0.0277321951377063, 0.0894408118955342, 0.200..."
21,osm_crossing_points_in_0.001,17,"[3, 0, 2, 4, 1, 5, 8, 7, 11, 6, 13, 9, 10, 12,..."
22,osm_crossing_points_in_0.005,108,"[6, 31, 15, 0, 14, 16, 43, 7, 10, 2, 1, 28, 5,..."
23,osm_crossing_points_in_0.0075,191,"[17, 50, 29, 0, 40, 31, 20, 105, 14, 21, 2, 1,..."
24,osm_crossing_points_in_0.01,268,"[34, 57, 53, 5, 78, 54, 0, 48, 177, 35, 50, 2,..."
25,osm_culture_points_in_0.001,16,"[0, 1, 2, 6, 3, 5, 12, 7, 4, 9, 8, 11, 16, 13,..."
26,osm_culture_points_in_0.005,111,"[0, 1, 6, 27, 7, 2, 5, 8, 11, 17, 10, 12, 16, ..."
27,osm_culture_points_in_0.0075,159,"[1, 2, 0, 14, 40, 7, 9, 5, 8, 6, 17, 44, 27, 2..."
28,osm_culture_points_in_0.01,216,"[1, 3, 2, 0, 24, 6, 47, 9, 16, 5, 15, 4, 38, 2..."
29,osm_finance_points_in_0.001,7,"[0, 1, 2, 3, 4, 6, 5]"
30,osm_finance_points_in_0.005,29,"[0, 3, 10, 7, 1, 5, 2, 6, 15, 8, 28, 4, 11, 17..."
31,osm_finance_points_in_0.0075,42,"[1, 5, 0, 3, 8, 17, 10, 2, 18, 29, 26, 38, 6, ..."
32,osm_finance_points_in_0.01,61,"[2, 9, 1, 0, 18, 27, 12, 3, 13, 16, 5, 34, 41,..."
33,osm_healthcare_points_in_0.005,31,"[2, 1, 0, 3, 5, 8, 4, 6, 15, 19, 14, 7, 13, 9,..."
34,osm_healthcare_points_in_0.0075,57,"[3, 1, 0, 7, 9, 5, 2, 4, 15, 11, 6, 29, 14, 30..."
35,osm_healthcare_points_in_0.01,78,"[4, 3, 14, 0, 17, 7, 1, 6, 5, 35, 9, 13, 15, 2..."
36,osm_historic_points_in_0.005,54,"[0, 2, 1, 3, 7, 4, 5, 24, 15, 8, 14, 6, 22, 9,..."
37,osm_historic_points_in_0.0075,89,"[0, 4, 2, 1, 3, 7, 9, 6, 49, 30, 11, 26, 12, 1..."
38,osm_historic_points_in_0.01,129,"[1, 6, 0, 2, 4, 8, 3, 5, 7, 14, 18, 10, 84, 42..."
39,osm_hotels_points_in_0.005,67,"[0, 2, 1, 3, 4, 21, 20, 6, 8, 14, 5, 7, 25, 39..."
40,osm_hotels_points_in_0.0075,109,"[0, 2, 1, 5, 6, 4, 3, 42, 29, 15, 17, 8, 11, 7..."
41,osm_hotels_points_in_0.01,158,"[0, 2, 1, 3, 9, 7, 4, 85, 40, 23, 24, 10, 16, ..."
42,osm_leisure_points_in_0.005,34,"[0, 1, 2, 3, 6, 4, 5, 9, 7, 11, 8, 10, 13, 17,..."
43,osm_leisure_points_in_0.0075,59,"[1, 3, 0, 4, 10, 8, 2, 5, 11, 7, 9, 15, 23, 6,..."
44,osm_leisure_points_in_0.01,85,"[2, 6, 1, 9, 12, 0, 14, 7, 4, 3, 24, 10, 5, 11..."
45,osm_offices_points_in_0.001,13,"[0, 1, 2, 4, 3, 7, 5, 8, 9, 6, 12, 11, 17]"
46,osm_offices_points_in_0.005,63,"[1, 0, 8, 2, 4, 3, 24, 12, 6, 22, 5, 7, 19, 27..."
47,osm_offices_points_in_0.0075,118,"[2, 6, 0, 8, 1, 5, 9, 7, 3, 4, 74, 27, 43, 42,..."
48,osm_offices_points_in_0.01,178,"[4, 3, 9, 0, 12, 1, 15, 10, 14, 5, 6, 13, 23, ..."
49,osm_shops_points_in_0.001,37,"[4, 1, 0, 3, 8, 2, 6, 5, 15, 7, 10, 9, 12, 16,..."
50,osm_shops_points_in_0.005,272,"[11, 12, 16, 0, 8, 7, 20, 33, 49, 10, 2, 5, 3,..."
51,osm_shops_points_in_0.0075,484,"[20, 37, 4, 33, 17, 0, 77, 130, 86, 24, 3, 6, ..."
52,osm_shops_points_in_0.01,745,"[28, 29, 80, 11, 89, 25, 0, 134, 185, 148, 40,..."
53,osm_subway_closest_dist,143137,"[269.02498588198813, 102.4554514866792, 243.36..."
54,osm_train_stop_closest_dist,143190,"[3.368385348632419, 1.4765996100331562, 1.4551..."
55,osm_train_stop_points_in_0.005,19,"[0, 2, 1, 3, 4, 5, 7, 6, 9, 8, 15, 29, 12, 10,..."
56,osm_train_stop_points_in_0.0075,24,"[0, 2, 1, 3, 4, 8, 6, 5, 9, 12, 7, 11, 10, 13,..."
57,osm_train_stop_points_in_0.01,30,"[0, 2, 3, 4, 6, 1, 5, 8, 9, 7, 13, 23, 12, 18,..."
58,osm_transport_stop_closest_dist,143191,"[0.0028640048811989, 0.1546606905642735, 0.118..."
59,osm_transport_stop_points_in_0.005,51,"[4, 9, 0, 10, 3, 13, 6, 2, 5, 7, 8, 12, 1, 16,..."
60,osm_transport_stop_points_in_0.0075,74,"[13, 10, 0, 32, 9, 21, 23, 3, 5, 7, 2, 6, 28, ..."
61,osm_transport_stop_points_in_0.01,107,"[21, 11, 3, 62, 14, 0, 30, 51, 35, 25, 5, 10, ..."
62,per_square_meter_price,144209,"[139937.5, 60410.71428571428, 45164.7612642905..."
63,reform_count_of_houses_1000,699,"[136, 146, 105, 75, 144, 83, 7, 207, 559, 154,..."
64,reform_count_of_houses_500,275,"[49, 37, 27, 2, 38, 22, 4, 59, 163, 44, 48, 17..."
65,reform_house_population_1000,6207,"[2503.0, 1336.0, 1883.0, 1801.0, 3090.0, 1958...."
66,reform_house_population_500,2367,"[765.0, 514.0, 573.0, 54.0, 619.0, 451.0, 28.0..."
67,reform_mean_floor_count_1000,49018,"[5.762962962962963, 2.8943661971830985, 6.1414..."
68,reform_mean_floor_count_500,17122,"[5.530612244897959, 3.5277777777777777, 7.2222..."
69,reform_mean_year_building_1000,76045,"[1964.1185185185184, 1952.3216783216783, 1968...."
70,reform_mean_year_building_500,43144,"[1960.9591836734687, 1957.2222222222224, 1973...."
71,region,49,"[–ü–µ—Ä–º—Å–∫–∏–π –∫—Ä–∞–π, –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å, –Ø—Ä–æ—Å–ª–∞–≤—Å–∫–∞..."
72,total_square,20844,"[32.0, 280.0, 297.4, 190.0, 60.2, 308.0, 130.0..."
73,street,28842,"[S27289, S17052, S16913, S10148, S1338, S24380..."
74,date,34,"[2020-01-05, 2020-01-12, 2020-01-19, 2020-01-2..."
75,realty_type,3,"[10, 110, 100]"
76,price_type,2,"[0, 1]"

In [9]:
ID = df_train['id']
df_train.drop(['id', 'lat', 'lng', 'osm_city_nearest_name', 'date', 'street', 'floor', 'osm_city_closest_dist'], axis=1, inplace=True)

In [10]:
print_unique_values(df_train)

,Feature,Number of values,Values
0,city,4948,"[–ü–µ—Ä–º—å, –®–∞—Ç—É—Ä–∞, –Ø—Ä–æ—Å–ª–∞–≤–ª—å, –ù–æ–≤–æ–∫—É–∑–Ω–µ—Ü–∫, –ú–æ—Å–∫–≤–∞..."
1,osm_amenity_points_in_0.001,46,"[4, 3, 1, 0, 5, 10, 2, 7, 6, 19, 9, 11, 8, 15,..."
2,osm_amenity_points_in_0.005,412,"[19, 24, 30, 0, 23, 18, 38, 92, 66, 12, 5, 10,..."
3,osm_amenity_points_in_0.0075,804,"[35, 37, 67, 5, 64, 38, 0, 117, 256, 138, 32, ..."
4,osm_amenity_points_in_0.01,1273,"[52, 59, 128, 21, 153, 50, 0, 219, 376, 249, 5..."
5,osm_building_points_in_0.001,25,"[0, 2, 3, 1, 9, 6, 5, 10, 16, 4, 13, 7, 14, 11..."
6,osm_building_points_in_0.005,195,"[0, 1, 4, 20, 8, 2, 7, 12, 27, 3, 5, 6, 11, 10..."
7,osm_building_points_in_0.0075,336,"[0, 1, 13, 2, 29, 14, 4, 10, 6, 8, 17, 15, 57,..."
8,osm_building_points_in_0.01,469,"[0, 1, 26, 4, 37, 3, 23, 2, 21, 13, 8, 11, 7, ..."
9,osm_catering_points_in_0.001,24,"[0, 1, 2, 4, 5, 3, 6, 10, 12, 8, 7, 9, 11, 17,..."
10,osm_catering_points_in_0.005,165,"[2, 3, 0, 8, 5, 40, 10, 1, 13, 4, 9, 6, 12, 57..."
11,osm_catering_points_in_0.0075,309,"[4, 2, 6, 1, 14, 3, 0, 11, 95, 22, 23, 33, 41,..."
12,osm_catering_points_in_0.01,498,"[6, 11, 4, 26, 0, 30, 125, 41, 5, 1, 3, 28, 23..."
13,osm_city_nearest_population,170,"[1055397.0, 120184.0, 603961.0, 552105.0, 2320..."
14,osm_crossing_closest_dist,143191,"[0.0277321951377063, 0.0894408118955342, 0.200..."
15,osm_crossing_points_in_0.001,17,"[3, 0, 2, 4, 1, 5, 8, 7, 11, 6, 13, 9, 10, 12,..."
16,osm_crossing_points_in_0.005,108,"[6, 31, 15, 0, 14, 16, 43, 7, 10, 2, 1, 28, 5,..."
17,osm_crossing_points_in_0.0075,191,"[17, 50, 29, 0, 40, 31, 20, 105, 14, 21, 2, 1,..."
18,osm_crossing_points_in_0.01,268,"[34, 57, 53, 5, 78, 54, 0, 48, 177, 35, 50, 2,..."
19,osm_culture_points_in_0.001,16,"[0, 1, 2, 6, 3, 5, 12, 7, 4, 9, 8, 11, 16, 13,..."
20,osm_culture_points_in_0.005,111,"[0, 1, 6, 27, 7, 2, 5, 8, 11, 17, 10, 12, 16, ..."
21,osm_culture_points_in_0.0075,159,"[1, 2, 0, 14, 40, 7, 9, 5, 8, 6, 17, 44, 27, 2..."
22,osm_culture_points_in_0.01,216,"[1, 3, 2, 0, 24, 6, 47, 9, 16, 5, 15, 4, 38, 2..."
23,osm_finance_points_in_0.001,7,"[0, 1, 2, 3, 4, 6, 5]"
24,osm_finance_points_in_0.005,29,"[0, 3, 10, 7, 1, 5, 2, 6, 15, 8, 28, 4, 11, 17..."
25,osm_finance_points_in_0.0075,42,"[1, 5, 0, 3, 8, 17, 10, 2, 18, 29, 26, 38, 6, ..."
26,osm_finance_points_in_0.01,61,"[2, 9, 1, 0, 18, 27, 12, 3, 13, 16, 5, 34, 41,..."
27,osm_healthcare_points_in_0.005,31,"[2, 1, 0, 3, 5, 8, 4, 6, 15, 19, 14, 7, 13, 9,..."
28,osm_healthcare_points_in_0.0075,57,"[3, 1, 0, 7, 9, 5, 2, 4, 15, 11, 6, 29, 14, 30..."
29,osm_healthcare_points_in_0.01,78,"[4, 3, 14, 0, 17, 7, 1, 6, 5, 35, 9, 13, 15, 2..."
30,osm_historic_points_in_0.005,54,"[0, 2, 1, 3, 7, 4, 5, 24, 15, 8, 14, 6, 22, 9,..."
31,osm_historic_points_in_0.0075,89,"[0, 4, 2, 1, 3, 7, 9, 6, 49, 30, 11, 26, 12, 1..."
32,osm_historic_points_in_0.01,129,"[1, 6, 0, 2, 4, 8, 3, 5, 7, 14, 18, 10, 84, 42..."
33,osm_hotels_points_in_0.005,67,"[0, 2, 1, 3, 4, 21, 20, 6, 8, 14, 5, 7, 25, 39..."
34,osm_hotels_points_in_0.0075,109,"[0, 2, 1, 5, 6, 4, 3, 42, 29, 15, 17, 8, 11, 7..."
35,osm_hotels_points_in_0.01,158,"[0, 2, 1, 3, 9, 7, 4, 85, 40, 23, 24, 10, 16, ..."
36,osm_leisure_points_in_0.005,34,"[0, 1, 2, 3, 6, 4, 5, 9, 7, 11, 8, 10, 13, 17,..."
37,osm_leisure_points_in_0.0075,59,"[1, 3, 0, 4, 10, 8, 2, 5, 11, 7, 9, 15, 23, 6,..."
38,osm_leisure_points_in_0.01,85,"[2, 6, 1, 9, 12, 0, 14, 7, 4, 3, 24, 10, 5, 11..."
39,osm_offices_points_in_0.001,13,"[0, 1, 2, 4, 3, 7, 5, 8, 9, 6, 12, 11, 17]"
40,osm_offices_points_in_0.005,63,"[1, 0, 8, 2, 4, 3, 24, 12, 6, 22, 5, 7, 19, 27..."
41,osm_offices_points_in_0.0075,118,"[2, 6, 0, 8, 1, 5, 9, 7, 3, 4, 74, 27, 43, 42,..."
42,osm_offices_points_in_0.01,178,"[4, 3, 9, 0, 12, 1, 15, 10, 14, 5, 6, 13, 23, ..."
43,osm_shops_points_in_0.001,37,"[4, 1, 0, 3, 8, 2, 6, 5, 15, 7, 10, 9, 12, 16,..."
44,osm_shops_points_in_0.005,272,"[11, 12, 16, 0, 8, 7, 20, 33, 49, 10, 2, 5, 3,..."
45,osm_shops_points_in_0.0075,484,"[20, 37, 4, 33, 17, 0, 77, 130, 86, 24, 3, 6, ..."
46,osm_shops_points_in_0.01,745,"[28, 29, 80, 11, 89, 25, 0, 134, 185, 148, 40,..."
47,osm_subway_closest_dist,143137,"[269.02498588198813, 102.4554514866792, 243.36..."
48,osm_train_stop_closest_dist,143190,"[3.368385348632419, 1.4765996100331562, 1.4551..."
49,osm_train_stop_points_in_0.005,19,"[0, 2, 1, 3, 4, 5, 7, 6, 9, 8, 15, 29, 12, 10,..."
50,osm_train_stop_points_in_0.0075,24,"[0, 2, 1, 3, 4, 8, 6, 5, 9, 12, 7, 11, 10, 13,..."
51,osm_train_stop_points_in_0.01,30,"[0, 2, 3, 4, 6, 1, 5, 8, 9, 7, 13, 23, 12, 18,..."
52,osm_transport_stop_closest_dist,143191,"[0.0028640048811989, 0.1546606905642735, 0.118..."
53,osm_transport_stop_points_in_0.005,51,"[4, 9, 0, 10, 3, 13, 6, 2, 5, 7, 8, 12, 1, 16,..."
54,osm_transport_stop_points_in_0.0075,74,"[13, 10, 0, 32, 9, 21, 23, 3, 5, 7, 2, 6, 28, ..."
55,osm_transport_stop_points_in_0.01,107,"[21, 11, 3, 62, 14, 0, 30, 51, 35, 25, 5, 10, ..."
56,per_square_meter_price,144209,"[139937.5, 60410.71428571428, 45164.7612642905..."
57,reform_count_of_houses_1000,699,"[136, 146, 105, 75, 144, 83, 7, 207, 559, 154,..."
58,reform_count_of_houses_500,275,"[49, 37, 27, 2, 38, 22, 4, 59, 163, 44, 48, 17..."
59,reform_house_population_1000,6207,"[2503.0, 1336.0, 1883.0, 1801.0, 3090.0, 1958...."
60,reform_house_population_500,2367,"[765.0, 514.0, 573.0, 54.0, 619.0, 451.0, 28.0..."
61,reform_mean_floor_count_1000,49018,"[5.762962962962963, 2.8943661971830985, 6.1414..."
62,reform_mean_floor_count_500,17122,"[5.530612244897959, 3.5277777777777777, 7.2222..."
63,reform_mean_year_building_1000,76045,"[1964.1185185185184, 1952.3216783216783, 1968...."
64,reform_mean_year_building_500,43144,"[1960.9591836734687, 1957.2222222222224, 1973...."
65,region,49,"[–ü–µ—Ä–º—Å–∫–∏–π –∫—Ä–∞–π, –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å, –Ø—Ä–æ—Å–ª–∞–≤—Å–∫–∞..."
66,total_square,20844,"[32.0, 280.0, 297.4, 190.0, 60.2, 308.0, 130.0..."
67,realty_type,3,"[10, 110, 100]"
68,price_type,2,"[0, 1]"

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>Location [Feature engineering]</h1>

In [11]:
def location(df):
    is_moscow = []
    is_moscow_oblast = []
    is_region = []

    for row in df['region']:
        if row == '–ú–æ—Å–∫–≤–∞':
            is_moscow.append(1)
            is_moscow_oblast.append(0)
            is_region.append(0)
        elif row == '–ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å':
            is_moscow.append(0)
            is_moscow_oblast.append(1)
            is_region.append(0)
        else:
            is_moscow.append(0)
            is_moscow_oblast.append(0)
            is_region.append(1)

    df['is_moscow'] = is_moscow
    df['is_moscow_oblast'] = is_moscow_oblast
    df['is_region'] = is_region

    df.drop(['region'], axis=1, inplace=True)
    
    print('Moscow: ' + str((len(df[df['is_moscow'] == 1]))))
    print('Moscow oblast: ' + str((len(df[df['is_moscow_oblast'] == 1]))))
    print('Region: ' + str((len(df[df['is_region'] == 1]))))

location(df_train)

Moscow: 55962
Moscow oblast: 16328
Region: 207502

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>CIies with > 1M people [Feature engineering]</h1>

In [12]:
def cities_1m(df):
    cities_1m_people = ['–ú–æ—Å–∫–≤–∞', '–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥', '–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫', '–ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥', '–ö–∞–∑–∞–Ω—å', '–ù–∏–∂–Ω–∏–π –ù–æ–≤–≥–æ—Ä–æ–¥', '–ß–µ–ª—è–±–∏–Ω—Å–∫', '–°–∞–º–∞—Ä–∞', '–û–º—Å–∫',
                       '–†–æ—Å—Ç–æ–≤-–Ω–∞-–î–æ–Ω—É', '–£—Ñ–∞', '–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫', '–í–æ—Ä–æ–Ω–µ–∂', '–ü–µ—Ä–º—å', '–í–æ–ª–≥–æ–≥—Ä–∞–¥']

    is_million = []
    is_not_million = []

    for row in df['city']:
        if row in cities_1m_people:
            is_million.append(1)
            is_not_million.append(0)
        else:
            is_million.append(0)
            is_not_million.append(1)

    df['is_million'] = is_million
    df['is_not_million'] = is_not_million

    df.drop(['city'], axis=1, inplace=True)
    
    print('is_million: ' + str((len(df[df['is_million'] == 1]))))
    print('is_not_million: ' + str((len(df[df['is_not_million'] == 1]))))
    
cities_1m(df_train)

is_million: 139023
is_not_million: 140769

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>District rate [Feature engineering]</h1>

In [13]:
def make_district(df):
    district_rate = []

    for row in df['realty_type']:
        if row == 110:
            district_rate.append(1)
        elif row == 100:
            district_rate.append(10)
        elif row == 10:
            district_rate.append(0)

    df['district_rate'] = district_rate

    df.drop(['realty_type'], axis=1, inplace=True)
    
make_district(df_train)

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>Offices [Feature engineering]</h1>

In [14]:
def offices(df):
    many_offices = []

    for i in range(len(df['osm_offices_points_in_0.001'])):
        if df['osm_offices_points_in_0.001'][i] > 2 or df['osm_offices_points_in_0.005'][i] > 10 or df['osm_offices_points_in_0.0075'][i] > 15 or df['osm_offices_points_in_0.01'][i] > 20:
            many_offices.append(1)
        else:
            many_offices.append(0)

    df['many_offices'] = many_offices

    df.drop(['osm_offices_points_in_0.001', 'osm_offices_points_in_0.005', 'osm_offices_points_in_0.0075', 'osm_offices_points_in_0.01'], axis=1, inplace=True)
    
offices(df_train)

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>Food [Feature engineering]</h1>

In [15]:
def food(df):
    many_food = []

    for i in range(len(df['osm_catering_points_in_0.001'])):
        if df['osm_catering_points_in_0.001'][i] > 2 or df['osm_catering_points_in_0.005'][i] > 10 or df['osm_catering_points_in_0.0075'][i] > 15 or df['osm_catering_points_in_0.01'][i] > 20:
            many_food.append(1)
        else:
            many_food.append(0)

    df['many_food'] = many_food

    df.drop(['osm_catering_points_in_0.001', 'osm_catering_points_in_0.005', 'osm_catering_points_in_0.0075', 'osm_catering_points_in_0.01'], axis=1, inplace=True)
    
food(df_train)

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>Shops [Feature engineering]</h1>

In [16]:
def shops(df):
    many_shops = []

    for i in range(len(df['osm_shops_points_in_0.001'])):
        if df['osm_shops_points_in_0.001'][i] > 2 or df['osm_shops_points_in_0.005'][i] > 10 or df['osm_shops_points_in_0.0075'][i] > 15 or df['osm_shops_points_in_0.01'][i] > 20:
            many_shops.append(1)
        else:
            many_shops.append(0)

    df['many_shops'] = many_shops

    df.drop(['osm_shops_points_in_0.001', 'osm_shops_points_in_0.005', 'osm_shops_points_in_0.0075', 'osm_shops_points_in_0.01'], axis=1, inplace=True)
    
shops(df_train)

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>>Financial Organizations [Feature engineering]</h1>

In [17]:
def financial_organizations(df):
    many_financial_organizations = []

    for i in range(len(df['osm_finance_points_in_0.001'])):
        if df['osm_finance_points_in_0.001'][i] > 2 or df['osm_finance_points_in_0.005'][i] > 10 or df['osm_finance_points_in_0.0075'][i] > 15 or df['osm_finance_points_in_0.01'][i] > 20:
            many_financial_organizations.append(1)
        else:
            many_financial_organizations.append(0)

    df['many_financial_organizations'] = many_financial_organizations

    df.drop(['osm_finance_points_in_0.001', 'osm_finance_points_in_0.005', 'osm_finance_points_in_0.0075', 'osm_finance_points_in_0.01'], axis=1, inplace=True)
    
financial_organizations(df_train)

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>Medicine [Feature engineering]</h1>

In [18]:
def medecine(df):
    many_medicine = []

    for i in range(len(df['osm_healthcare_points_in_0.005'])):
        if df['osm_healthcare_points_in_0.005'][i] > 1 or df['osm_healthcare_points_in_0.0075'][i] > 1 or df['osm_healthcare_points_in_0.01'][i] > 1:
            many_medicine.append(1)
        else:
            many_medicine.append(0)

    df['many_medicine'] = many_medicine

    df.drop(['osm_healthcare_points_in_0.005', 'osm_healthcare_points_in_0.0075', 'osm_healthcare_points_in_0.01'], axis=1, inplace=True)
    
medecine(df_train)

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>Entertainment [Feature engineering]</h1>

In [19]:
def entertainment(df):
    many_entertainment = []

    for i in range(len(df['osm_leisure_points_in_0.005'])):
        if df['osm_leisure_points_in_0.005'][i] > 1 or df['osm_leisure_points_in_0.0075'][i] > 3 or df['osm_leisure_points_in_0.01'][i] > 1:
            many_entertainment.append(1)
        else:
            many_entertainment.append(0)

    df['many_entertainment'] = many_entertainment

    df.drop(['osm_leisure_points_in_0.005', 'osm_leisure_points_in_0.0075', 'osm_leisure_points_in_0.01'], axis=1, inplace=True)
    
entertainment(df_train)

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>Historical objects [Feature engineering]</h1>

In [20]:
def hist_obj(df):
    many_historical_objects = []

    for i in range(len(df['osm_historic_points_in_0.005'])):
        if df['osm_historic_points_in_0.005'][i] > 1 or df['osm_historic_points_in_0.0075'][i] > 3 or df['osm_historic_points_in_0.01'][i] > 1:
            many_historical_objects.append(1)
        else:
            many_historical_objects.append(0)

    df['many_historical_objects'] = many_historical_objects

    df.drop(['osm_historic_points_in_0.005', 'osm_historic_points_in_0.0075', 'osm_historic_points_in_0.01'], axis=1, inplace=True)
    
hist_obj(df_train)

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>Buildings [Feature engineering]</h1>

In [21]:
def buildings(df):
    many_buildings = []

    for i in range(len(df['osm_building_points_in_0.001'])):
        if df['osm_building_points_in_0.001'][i] > 2 or df['osm_building_points_in_0.005'][i] > 5:
            many_buildings.append(1)
        else:
            many_buildings.append(0)

    df['many_buildings'] = many_buildings

    df.drop(['osm_building_points_in_0.001', 'osm_building_points_in_0.005'], axis=1, inplace=True)
    
buildings(df_train)

In [22]:
print_unique_values(df_train)

,Feature,Number of values,Values
0,osm_amenity_points_in_0.001,46,"[4, 3, 1, 0, 5, 10, 2, 7, 6, 19, 9, 11, 8, 15,..."
1,osm_amenity_points_in_0.005,412,"[19, 24, 30, 0, 23, 18, 38, 92, 66, 12, 5, 10,..."
2,osm_amenity_points_in_0.0075,804,"[35, 37, 67, 5, 64, 38, 0, 117, 256, 138, 32, ..."
3,osm_amenity_points_in_0.01,1273,"[52, 59, 128, 21, 153, 50, 0, 219, 376, 249, 5..."
4,osm_building_points_in_0.0075,336,"[0, 1, 13, 2, 29, 14, 4, 10, 6, 8, 17, 15, 57,..."
5,osm_building_points_in_0.01,469,"[0, 1, 26, 4, 37, 3, 23, 2, 21, 13, 8, 11, 7, ..."
6,osm_city_nearest_population,170,"[1055397.0, 120184.0, 603961.0, 552105.0, 2320..."
7,osm_crossing_closest_dist,143191,"[0.0277321951377063, 0.0894408118955342, 0.200..."
8,osm_crossing_points_in_0.001,17,"[3, 0, 2, 4, 1, 5, 8, 7, 11, 6, 13, 9, 10, 12,..."
9,osm_crossing_points_in_0.005,108,"[6, 31, 15, 0, 14, 16, 43, 7, 10, 2, 1, 28, 5,..."
10,osm_crossing_points_in_0.0075,191,"[17, 50, 29, 0, 40, 31, 20, 105, 14, 21, 2, 1,..."
11,osm_crossing_points_in_0.01,268,"[34, 57, 53, 5, 78, 54, 0, 48, 177, 35, 50, 2,..."
12,osm_culture_points_in_0.001,16,"[0, 1, 2, 6, 3, 5, 12, 7, 4, 9, 8, 11, 16, 13,..."
13,osm_culture_points_in_0.005,111,"[0, 1, 6, 27, 7, 2, 5, 8, 11, 17, 10, 12, 16, ..."
14,osm_culture_points_in_0.0075,159,"[1, 2, 0, 14, 40, 7, 9, 5, 8, 6, 17, 44, 27, 2..."
15,osm_culture_points_in_0.01,216,"[1, 3, 2, 0, 24, 6, 47, 9, 16, 5, 15, 4, 38, 2..."
16,osm_hotels_points_in_0.005,67,"[0, 2, 1, 3, 4, 21, 20, 6, 8, 14, 5, 7, 25, 39..."
17,osm_hotels_points_in_0.0075,109,"[0, 2, 1, 5, 6, 4, 3, 42, 29, 15, 17, 8, 11, 7..."
18,osm_hotels_points_in_0.01,158,"[0, 2, 1, 3, 9, 7, 4, 85, 40, 23, 24, 10, 16, ..."
19,osm_subway_closest_dist,143137,"[269.02498588198813, 102.4554514866792, 243.36..."
20,osm_train_stop_closest_dist,143190,"[3.368385348632419, 1.4765996100331562, 1.4551..."
21,osm_train_stop_points_in_0.005,19,"[0, 2, 1, 3, 4, 5, 7, 6, 9, 8, 15, 29, 12, 10,..."
22,osm_train_stop_points_in_0.0075,24,"[0, 2, 1, 3, 4, 8, 6, 5, 9, 12, 7, 11, 10, 13,..."
23,osm_train_stop_points_in_0.01,30,"[0, 2, 3, 4, 6, 1, 5, 8, 9, 7, 13, 23, 12, 18,..."
24,osm_transport_stop_closest_dist,143191,"[0.0028640048811989, 0.1546606905642735, 0.118..."
25,osm_transport_stop_points_in_0.005,51,"[4, 9, 0, 10, 3, 13, 6, 2, 5, 7, 8, 12, 1, 16,..."
26,osm_transport_stop_points_in_0.0075,74,"[13, 10, 0, 32, 9, 21, 23, 3, 5, 7, 2, 6, 28, ..."
27,osm_transport_stop_points_in_0.01,107,"[21, 11, 3, 62, 14, 0, 30, 51, 35, 25, 5, 10, ..."
28,per_square_meter_price,144209,"[139937.5, 60410.71428571428, 45164.7612642905..."
29,reform_count_of_houses_1000,699,"[136, 146, 105, 75, 144, 83, 7, 207, 559, 154,..."
30,reform_count_of_houses_500,275,"[49, 37, 27, 2, 38, 22, 4, 59, 163, 44, 48, 17..."
31,reform_house_population_1000,6207,"[2503.0, 1336.0, 1883.0, 1801.0, 3090.0, 1958...."
32,reform_house_population_500,2367,"[765.0, 514.0, 573.0, 54.0, 619.0, 451.0, 28.0..."
33,reform_mean_floor_count_1000,49018,"[5.762962962962963, 2.8943661971830985, 6.1414..."
34,reform_mean_floor_count_500,17122,"[5.530612244897959, 3.5277777777777777, 7.2222..."
35,reform_mean_year_building_1000,76045,"[1964.1185185185184, 1952.3216783216783, 1968...."
36,reform_mean_year_building_500,43144,"[1960.9591836734687, 1957.2222222222224, 1973...."
37,total_square,20844,"[32.0, 280.0, 297.4, 190.0, 60.2, 308.0, 130.0..."
38,price_type,2,"[0, 1]"
39,is_moscow,2,"[0, 1]"
40,is_moscow_oblast,2,"[0, 1]"
41,is_region,2,"[1, 0]"
42,is_million,2,"[1, 0]"
43,is_not_million,2,"[0, 1]"
44,district_rate,3,"[0, 1, 10]"
45,many_offices,2,"[0, 1]"
46,many_food,2,"[0, 1]"
47,many_shops,2,"[1, 0]"
48,many_financial_organizations,2,"[0, 1]"
49,many_medicine,2,"[1, 0]"
50,many_entertainment,2,"[1, 0]"
51,many_historical_objects,2,"[0, 1]"
52,many_buildings,2,"[0, 1]"

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>Hotels [Feature engineering]</h1>

In [23]:
def hotels(df):
    many_hotels = []

    for i in range(len(df['osm_hotels_points_in_0.005'])):
        if df['osm_hotels_points_in_0.005'][i] > 1 or df['osm_hotels_points_in_0.0075'][i] > 1 or df['osm_hotels_points_in_0.01'][i] > 1:
            many_hotels.append(1)
        else:
            many_hotels.append(0)

    df['many_hotels'] = many_hotels

    df.drop(['osm_hotels_points_in_0.005', 'osm_hotels_points_in_0.0075', 'osm_hotels_points_in_0.01'], axis=1, inplace=True)
    
hotels(df_train)

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>Station score [Feature engineering]</h1>

In [24]:
def stations_score(df):
    station_rate = []

    for row in df['osm_train_stop_closest_dist']:
        if row > 4:
            station_rate.append(0)
        elif row <= 4 and row > 1:
            station_rate.append(5)
        else:
            station_rate.append(1)

    df['station_rate'] = station_rate

    df.drop(['osm_train_stop_closest_dist'], axis=1, inplace=True)
    
stations_score(df_train)

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>Stations [Feature engineering]</h1>

In [25]:
def stations(df):
    many_stations = []

    for i in range(len(df['osm_train_stop_points_in_0.005'])):
        if df['osm_train_stop_points_in_0.005'][i] > 1 or df['osm_train_stop_points_in_0.0075'][i] > 1 or df['osm_train_stop_points_in_0.01'][i] > 1:
            many_stations.append(1)
        else:
            many_stations.append(0)

    df['many_stations'] = many_stations

    df.drop(['osm_train_stop_points_in_0.005', 'osm_train_stop_points_in_0.0075', 'osm_train_stop_points_in_0.01'], axis=1, inplace=True)
    
stations(df_train)

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>Land transport [Feature engineering]</h1>

In [26]:
def land_transport(df):
    many_land_transport = []

    for i in range(len(df['osm_transport_stop_points_in_0.005'])):
        if df['osm_transport_stop_points_in_0.005'][i] > 1 or df['osm_transport_stop_points_in_0.0075'][i] > 1 or df['osm_transport_stop_points_in_0.01'][i] > 1:
            many_land_transport.append(1)
        else:
            many_land_transport.append(0)

    df['many_land_transport'] = many_land_transport

    df.drop(['osm_transport_stop_points_in_0.005', 'osm_transport_stop_points_in_0.0075', 'osm_transport_stop_points_in_0.01',
             'osm_transport_stop_closest_dist', 'osm_subway_closest_dist'], axis=1, inplace=True)
    
land_transport(df_train)

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>Pedestrian crossings [Feature engineering]</h1>

In [27]:
def pedestrian_crossings(df):
    many_pedestrian_crossings = []

    for i in range(len(df['osm_crossing_points_in_0.001'])):
        if df['osm_crossing_points_in_0.001'][i] > 1 or df['osm_crossing_points_in_0.005'][i] > 1 or df['osm_crossing_points_in_0.0075'][i] > 1 or df['osm_crossing_points_in_0.01'][i]:
            many_pedestrian_crossings.append(1)
        else:
            many_pedestrian_crossings.append(0)

    df['many_pedestrian_crossings'] = many_pedestrian_crossings

    df.drop(['osm_crossing_points_in_0.001', 'osm_crossing_points_in_0.005', 'osm_crossing_points_in_0.0075', 'osm_crossing_points_in_0.01', 
            'osm_crossing_closest_dist'], axis=1, inplace=True)
    
pedestrian_crossings(df_train)

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>Culture objects [Feature engineering]</h1>

In [28]:
def culture_objects(df):
    many_culture_objects = []

    for i in range(len(df['osm_culture_points_in_0.001'])):
        if df['osm_culture_points_in_0.001'][i] > 1 or df['osm_culture_points_in_0.005'][i] > 1 or df['osm_culture_points_in_0.0075'][i] > 1  or df['osm_culture_points_in_0.01'][i] > 1:
            many_culture_objects.append(1)
        else:
            many_culture_objects.append(0)

    df['many_culture_objects'] = many_culture_objects

    df.drop(['osm_culture_points_in_0.001', 'osm_culture_points_in_0.005', 'osm_culture_points_in_0.0075', 'osm_culture_points_in_0.01'], axis=1, inplace=True)
    
culture_objects(df_train)

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>Comfort objects [Feature engineering]</h1>

In [29]:
def comfort_objects(df):
    many_comfort_objects = []

    for i in range(len(df['osm_amenity_points_in_0.001'])):
        if df['osm_amenity_points_in_0.001'][i] > 1 or df['osm_amenity_points_in_0.005'][i] > 1 or df['osm_amenity_points_in_0.0075'][i] > 1  or df['osm_amenity_points_in_0.01'][i] > 1:
            many_comfort_objects.append(1)
        else:
            many_comfort_objects.append(0)

    df['many_comfort_objects'] = many_comfort_objects

    df.drop(['osm_amenity_points_in_0.001', 'osm_amenity_points_in_0.005', 'osm_amenity_points_in_0.0075', 'osm_amenity_points_in_0.01'], axis=1, inplace=True)
    
comfort_objects(df_train)

<h1 style='background-color: #defcdc; border: 1px solid #a1d194; padding: 10px; font-weight: 400; text-align:center'>Quick Summary</h1>

In [30]:
print_unique_values(df_train)

,Feature,Number of values,Values
0,osm_building_points_in_0.0075,336,"[0, 1, 13, 2, 29, 14, 4, 10, 6, 8, 17, 15, 57,..."
1,osm_building_points_in_0.01,469,"[0, 1, 26, 4, 37, 3, 23, 2, 21, 13, 8, 11, 7, ..."
2,osm_city_nearest_population,170,"[1055397.0, 120184.0, 603961.0, 552105.0, 2320..."
3,per_square_meter_price,144209,"[139937.5, 60410.71428571428, 45164.7612642905..."
4,reform_count_of_houses_1000,699,"[136, 146, 105, 75, 144, 83, 7, 207, 559, 154,..."
5,reform_count_of_houses_500,275,"[49, 37, 27, 2, 38, 22, 4, 59, 163, 44, 48, 17..."
6,reform_house_population_1000,6207,"[2503.0, 1336.0, 1883.0, 1801.0, 3090.0, 1958...."
7,reform_house_population_500,2367,"[765.0, 514.0, 573.0, 54.0, 619.0, 451.0, 28.0..."
8,reform_mean_floor_count_1000,49018,"[5.762962962962963, 2.8943661971830985, 6.1414..."
9,reform_mean_floor_count_500,17122,"[5.530612244897959, 3.5277777777777777, 7.2222..."
10,reform_mean_year_building_1000,76045,"[1964.1185185185184, 1952.3216783216783, 1968...."
11,reform_mean_year_building_500,43144,"[1960.9591836734687, 1957.2222222222224, 1973...."
12,total_square,20844,"[32.0, 280.0, 297.4, 190.0, 60.2, 308.0, 130.0..."
13,price_type,2,"[0, 1]"
14,is_moscow,2,"[0, 1]"
15,is_moscow_oblast,2,"[0, 1]"
16,is_region,2,"[1, 0]"
17,is_million,2,"[1, 0]"
18,is_not_million,2,"[0, 1]"
19,district_rate,3,"[0, 1, 10]"
20,many_offices,2,"[0, 1]"
21,many_food,2,"[0, 1]"
22,many_shops,2,"[1, 0]"
23,many_financial_organizations,2,"[0, 1]"
24,many_medicine,2,"[1, 0]"
25,many_entertainment,2,"[1, 0]"
26,many_historical_objects,2,"[0, 1]"
27,many_buildings,2,"[0, 1]"
28,many_hotels,2,"[0, 1]"
29,station_rate,3,"[5, 0, 1]"
30,many_stations,2,"[0, 1]"
31,many_land_transport,2,"[1, 0]"
32,many_pedestrian_crossings,2,"[1, 0]"
33,many_culture_objects,2,"[0, 1]"
34,many_comfort_objects,2,"[1, 0]"

<h1 style='background-color: #fecfffcd; border: 1px solid #d194cf; padding: 10px; font-weight: 400; text-align:center'>Analys</h1>

In [31]:
print_missing_values(df_train)

,dtype,Feature,Number Of Missing Values,Percentage of Missing values
0,float64,osm_city_nearest_population,55,0.02
1,float64,reform_house_population_1000,14596,5.22
2,float64,reform_house_population_500,27234,9.73
3,float64,reform_mean_floor_count_1000,16708,5.97
4,float64,reform_mean_floor_count_500,30168,10.78
5,float64,reform_mean_year_building_1000,16239,5.80
6,float64,reform_mean_year_building_500,29637,10.59

<h1 style='background-color: #fecfffcd; border: 1px solid #d194cf; padding: 10px; font-weight: 400; text-align:center'>Filling NA's</h1>

In [32]:
df_train['reform_house_population_500'] = df_train['reform_house_population_500'].fillna(df_train['reform_house_population_500'].median())
df_train['reform_house_population_1000'] = df_train['reform_house_population_1000'].fillna(df_train['reform_house_population_1000'].median())
df_train['reform_mean_floor_count_1000'] = df_train['reform_mean_floor_count_1000'].fillna(df_train['reform_mean_floor_count_1000'].median())
# df['reform_mean_floor_count_1000'] = df['reform_mean_floor_count_1000'].apply(lambda x: np.log(x+1))
df_train['reform_mean_floor_count_500'] = df_train['reform_mean_floor_count_500'].fillna(df_train['reform_mean_floor_count_500'].median())
df_train['reform_mean_year_building_1000'] = df_train['reform_mean_year_building_1000'].fillna(df_train['reform_mean_year_building_1000'].median())
df_train['reform_mean_year_building_500'] = df_train['reform_mean_year_building_500'].fillna(df_train['reform_mean_year_building_500'].median())

<h1 style='background-color: #fecfffcd; border: 1px solid #d194cf; padding: 10px; font-weight: 400; text-align:center'>'osm_city_nearest_population' missing values = 100%</h1>

In [33]:
print_missing_values(df_train[df_train['osm_city_nearest_population'].isnull()])

,dtype,Feature,Number Of Missing Values,Percentage of Missing values
0,float64,osm_city_nearest_population,55,100.0

#### Summary
All other features contain many missing values, so we will delete all this rows

In [34]:
df_train = df_train[df_train['osm_city_nearest_population'].notna()]

<h1 style='background-color: #fecfffcd; border: 1px solid #d194cf; padding: 10px; font-weight: 400; text-align:center'>'reform_mean_floor_count_500' missing values = 100%</h1>

In [35]:
print_missing_values(df_train[df_train['reform_mean_floor_count_500'].isnull()])

Empty DataFrame
Columns: [dtype, Feature, Number Of Missing Values, Percentage of Missing values]
Index: []

<h1 style='background-color: #fecfffcd; border: 1px solid #d194cf; padding: 10px; font-weight: 400; text-align:center'>'reform_mean_year_building_1000' missing values = 100%</h1>

In [36]:
print_missing_values(df_train[df_train['reform_mean_year_building_1000'].isnull()])

Empty DataFrame
Columns: [dtype, Feature, Number Of Missing Values, Percentage of Missing values]
Index: []

<h1 style='background-color: #fecfffcd; border: 1px solid #d194cf; padding: 10px; font-weight: 400; text-align:center'>'reform_mean_year_building_500' missing values = 100%</h1>

In [37]:
print_missing_values(df_train[df_train['reform_mean_year_building_500'].isnull()])

Empty DataFrame
Columns: [dtype, Feature, Number Of Missing Values, Percentage of Missing values]
Index: []

<h1 style='background-color: #fecfffcd; border: 1px solid #d194cf; padding: 10px; font-weight: 400; text-align:center'>Summary</h1>

In [38]:
print_missing_values(df_train)

Empty DataFrame
Columns: [dtype, Feature, Number Of Missing Values, Percentage of Missing values]
Index: []

<h1 style='background-color: #fecfffcd; border: 1px solid #d194cf; padding: 10px; font-weight: 400; text-align:center'>Fill 'reform_mean_floor_count_500' NA's by medians</h1>

In [39]:
print_missing_values(df_train)

Empty DataFrame
Columns: [dtype, Feature, Number Of Missing Values, Percentage of Missing values]
Index: []

<h1 style='background-color: #fecfffcd; border: 1px solid #d194cf; padding: 10px; font-weight: 400; text-align:center'>Fill 'floor' NA's</h1>

In [40]:
# df['floor'] = df['floor'].replace({'–ø–æ–¥–≤–∞–ª': -1,'—Ü–æ–∫–æ–ª—å': 0,'–∞–Ω—Ç—Ä–µ—Å–æ–ª—å' : 1.5,
#                                    '—Ñ–∞–∫—Ç–∏—á–µ—Å–∫–∏ –Ω–∞ —É—Ä–æ–≤–Ω–µ 1 —ç—Ç–∞–∂–∞':1,'—Ç–µ—Ö.—ç—Ç–∞–∂ (6)':6,
#                                     '–ø–æ–¥–≤–∞–ª': 1,'—Ü–æ–∫–æ–ª—å, 1': 1,
#                                    '1,2,–∞–Ω—Ç—Ä–µ—Å–æ–ª—å':1.5,'–ü–æ–¥–≤–∞–ª':-1,
#                                    '–¶–æ–∫–æ–ª—å':0.6 ,'1,2,3':'1', '–ø–æ–¥–≤–∞–ª':'1'})


# flors = ['-1','1', '2', '1', '4', '5', '3',
#        '0.6', '10', '6', '1', '1', '1', '1',
#        '5', '1', '12', '15', '13',
#        '1, ', '2', '1', '8', '7',
#        '0', '3', '1',
#        '1', '1', '4', '1,', '9',
#        '1 ', '1', '1', '1',
#        '4', '2', '4', '1', '18', '1',
#        '0', '-1', '1', '3', '1',
#        '1', '3', '1',
#        '1', '3', '-1', '3', '11', '36', '7',
#        '1', '1', '3', '4', '5', '1',
#        '29', '-1, ', '3']
# old_flors = ['–ø–æ–¥–≤–∞–ª', '1', '2', '1.5', '4', '5', '3',
#        '0.6', '10', '6', '1, –ø–æ–¥–≤–∞–ª', '1,2,3,4', '1,2', '1,2,3,4,5',
#        '5, –º–∞–Ω—Å–∞—Ä–¥–∞', '1-–π, –ø–æ–¥–≤–∞–ª', '12', '15', '13',
#        '1, –ø–æ–¥–≤–∞–ª, –∞–Ω—Ç—Ä–µ—Å–æ–ª—å', '–º–µ–∑–æ–Ω–∏–Ω', '–ø–æ–¥–≤–∞–ª, 1-3', '8', '7',
#        '1 (–¶–æ–∫–æ–ª—å–Ω—ã–π —ç—Ç–∞–∂)', '3, –ú–∞–Ω—Å–∞—Ä–¥–∞ (4 —ç—Ç)', '–ø–æ–¥–≤–∞–ª,1',
#        '1, –∞–Ω—Ç—Ä–µ—Å–æ–ª—å', '1-3', '–º–∞–Ω—Å–∞—Ä–¥–∞ (4—ç—Ç)', '1, 2.', '9',
#        '–ø–æ–¥–≤–∞–ª , 1 ', '1, 2', '–ø–æ–¥–≤–∞–ª, 1,2,3', '1 + –ø–æ–¥–≤–∞–ª (–±–µ–∑ –æ—Ç–¥–µ–ª–∫–∏)',
#        '–º–∞–Ω—Å–∞—Ä–¥–∞', '2,3', '4, 5', '1-–π, 2-–π', '18', '1',
#        '1, —Ü–æ–∫–æ–ª—å', '–ø–æ–¥–≤–∞–ª', '3 (–∞–Ω—Ç—Ä–µ—Å–æ–ª—å)', '1, 2, 3',
#        '–¶–æ–∫–æ–ª—å, 1,2(–º–∞–Ω—Å–∞—Ä–¥–∞)', '–ø–æ–¥–≤–∞–ª, 3. 4 —ç—Ç–∞–∂', '–ø–æ–¥–≤–∞–ª, 1-4 —ç—Ç–∞–∂',
#        '–ø–æ–¥–≤–∞, 1.2 —ç—Ç–∞–∂', '2, 3', '-1', '1.2', '11', '36', '7,8',
#        '1 —ç—Ç–∞–∂', '1-–π', '3 —ç—Ç–∞–∂', '4 —ç—Ç–∞–∂', '5 —ç—Ç–∞–∂', '–ø–æ–¥–≤–∞–ª,1,2,3,4,5',
#        '29', '–ø–æ–¥–≤–∞–ª, —Ü–æ–∫–æ–ª—å, 1 —ç—Ç–∞–∂', '3, –º–∞–Ω—Å–∞—Ä–¥–∞']

# res = dict(zip (old_flors,flors))

# df['floor'] = df['floor'].replace(res)

# df['floor'] = df['floor'].replace({'–ø–æ–¥–≤–∞–ª, 1':'0',np.nan:0})

# df['floor'] = df['floor'].replace({'1 —ç—Ç–∞–∂, –ø–æ–¥–≤–∞–ª': '0', np.nan: 0})

# df['floor'].unique()

<h1 style='background-color: #dae8fc; border: 1px solid #94add0; padding: 10px; font-weight: 400; text-align:center'>Split Data</h1>

In [41]:
X, y = df_train.loc[:, df_train.columns != 'per_square_meter_price'], df_train['per_square_meter_price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

<h1 style='background-color: #dae8fc; border: 1px solid #94add0; padding: 10px; font-weight: 400; text-align:center'>Linear Regression</h1>

In [42]:
lg = LinearRegression()

lg.fit(X_train, y_train)

mean_squared_error(y_test, lg.predict(X_test))

17311943396.81235

<h1 style='background-color: #dae8fc; border: 1px solid #94add0; padding: 10px; font-weight: 400; text-align:center'>Decision Tree Regressor</h1>

In [43]:
tree = DecisionTreeRegressor(random_state=3)

tree.fit(X_train, y_train)

mean_squared_error(y_test, tree.predict(X_test))

9961401626.566133

<h1 style='background-color: #dae8fc; border: 1px solid #94add0; padding: 10px; font-weight: 400; text-align:center'>Random Forest Regressor</h1>

In [44]:
random_tree = RandomForestRegressor(random_state=3)

random_tree.fit(X_train, y_train)

mean_squared_error(y_test, random_tree.predict(X_test))

5895070945.075038

<h1 style='background-color: #dae8fc; border: 1px solid #94add0; padding: 10px; font-weight: 400; text-align:center'>Gradient Boosting Regressor</h1>

In [45]:
# gb = GradientBoostingRegressor(random_state=3)

# gb.fit(X_train, y_train)

# mean_squared_error(y_test, gb.predict(X_test))

<h1 style='background-color: #dae8fc; border: 1px solid #94add0; padding: 10px; font-weight: 400; text-align:center'>Submission</h1>

In [46]:
df_test = pd.read_csv('../input/raifhackds2021fall/data/test.csv')

In [47]:
ID = df_test['id']
df_test.drop(['id', 'lat', 'lng', 'osm_city_nearest_name', 'date', 'street', 'floor', 'osm_city_closest_dist'], axis=1, inplace=True)

df_test['reform_house_population_500'] = df_test['reform_house_population_500'].fillna(df_test['reform_house_population_500'].median())
df_test['reform_house_population_1000'] = df_test['reform_house_population_1000'].fillna(df_test['reform_house_population_1000'].median())
df_test['reform_mean_floor_count_1000'] = df_test['reform_mean_floor_count_1000'].fillna(df_test['reform_mean_floor_count_1000'].median())
# df['reform_mean_floor_count_1000'] = df['reform_mean_floor_count_1000'].apply(lambda x: np.log(x+1))
df_test['reform_mean_floor_count_500'] = df_test['reform_mean_floor_count_500'].fillna(df_test['reform_mean_floor_count_500'].median())
df_test['reform_mean_year_building_1000'] = df_test['reform_mean_year_building_1000'].fillna(df_test['reform_mean_year_building_1000'].median())
df_test['reform_mean_year_building_500'] = df_test['reform_mean_year_building_500'].fillna(df_test['reform_mean_year_building_500'].median())

In [48]:
location(df_test)
cities_1m(df_test)
make_district(df_test)
offices(df_test)
food(df_test)
shops(df_test)
financial_organizations(df_test)
medecine(df_test)
entertainment(df_test)
hist_obj(df_test)
buildings(df_test)
hotels(df_test)
stations_score(df_test)
stations(df_test)
land_transport(df_test)
pedestrian_crossings(df_test)
culture_objects(df_test)
comfort_objects(df_test)

Moscow: 56
Moscow oblast: 17
Region: 2901
is_million: 1263
is_not_million: 1711

In [49]:
random_tree.predict(df_test)

array([ 50258.27579194,  50742.46750126,  52756.84972143, ...,
        44517.99749628, 100120.44626037,  58398.44838131])

In [50]:
output = pd.DataFrame({'id': ID, 'per_square_meter_price': random_tree.predict(df_test)})
output.to_csv('my_submission.csv', index=False)

print("Your submission was successfully saved!")

Your submission was successfully saved!